.container{
	width: 100%;
	height: 100%;
	background-color: gray;
}

#title h2{
	color: red;
}

.spacing{
	margin: 3px;
	float: left;
	width: 24%;
}

#shapes{
	background-color: #000000;
}

#triangle{
	background-color: green;
}

#square{
	background-color: blue;
}

#rectangle{
	background-color: yellow;
}

#circle{
	background-color: red;
}
